*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-content: center;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#5d289e,#0c1840);
}
.container{
    max-width: 500px;
    margin: 200px auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 25px rgba(90, 87,0.3);
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
